@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div id="partial" style="display: block"></div><br />

@section scripts
{
    <script type="text/javascript">
        $(function() {
            var userId = getCookie("feedbackUserId");
            $.ajax({
                url: '@Url.Action("_feedback")',
                type: 'GET',
                cache: false,
                data: {
                    url: window.location.href,
                    isMainPage: false,
                    userId: userId
                }
            }).done(function(result) {
                $('#partial').html(result);
            });
        });


        function getCookie(name) {
            var nameEq = name + "=";
            var cookies = document.cookie.split(';');
            for(var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i];
                while (cookie.charAt(0) == ' ') cookie = cookie.substring(1, cookie.length);
                if (cookie.indexOf(nameEq) == 0) {
                    return cookie.substring(nameEq.length, cookie.length);
                }
            }

            return null;
        }
    </script>
}