@{
    Layout = "";
}

<div id="feedback" style="position:fixed;bottom:0px;right:0px;">
    <div id="feedback__header" style="padding:10px;background-color:red;">
        Feedback module is expired.      
    </div>
</div>
