@{
    ViewBag.Title = "Feedback Application";
}

<div>
    <h2>Feedback Application</h2>
    <p>
        This is a lightweight application that can be added to web applications and
        enables collecting optional feedbacks from users in application level (main page)
        and sub level pages in order to calculate the net promoter score.
    </p>
    <p>
        To enable the feedback in your application and other pages you just need to
        add the following script into your page and set the variables accordingly.
    </p>
    <pre>
        &lt;script&gt;
            // Set your variables
            var customerId; // your customer id
            var userId; // set userId here (if applicable)
            var pageUrl; // set pageUrl here (default is the current page url)
            var isMainPage; // set to true if it is main page (default is true)
            $.ajax({
                url: "http://cbafeedback.azurewebsites.net/home/feedback",
                data: {
                    customerId: customerId,
                    userId: userId,
                    pageUrl: pageUrl,
                    isMainPage: isMainPage
                },
                method: "get",
                xhrFields: { withCredentials: true },
            }).done(function (feedbackView) {
                $("body").append(feedbackView);
            });
        &lt;/script&gt;
    </pre>



</div>
