
<div id="partial"></div>

<script type="text/javascript">
    $(function () {
        console.log("readya");
        var userId = getCookie("feedbackUserId");
        $.ajax({
            url: '@Url.Action("_feedback")',
            type: 'GET',
            cache: false,
            data: {
                url: window.location.href,
                isMainPage: true,
                userId: userId
            }
        }).done(function(result) {
            $('#partial').html(result);
        });
    });


    function getCookie(name) {
        var nameEq = name + "=";
        var cookies = document.cookie.split(';');
        for(var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            while (cookie.charAt(0) == ' ') cookie = cookie.substring(1, cookie.length);
            if (cookie.indexOf(nameEq) == 0) {
                return cookie.substring(nameEq.length, cookie.length);
            }
        }

        return null;
    }
</script>
